@model BuildingModel

<body>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>Menu</h2>
            <hr/>
            <div class="control-panel-block">
                <h3>Add building</h3>
                <hr/>
                <form asp-controller="Home" asp-action="CreateBuilding" method="post">
                    <label for="buildingName">Building name:</label><br/>
                    <input type="text" id="buildingName" name="buildingName" class="input-group" required="required"/><br/>
                    <label for="buildingAdress">Adress:</label><br/>
                    <input type="text" id="buildingAdress" name="buildingAdress" class="input-group" required="required"/><br/>
                    
                    <input class="btn-primary" type="submit"/>
                </form>
            </div>
            <div class="control-panel-block">
                <h3>Edit Building</h3>
                <hr/>
                <form method="post" asp-action="EditBuilding">
                    <label for="pid">Building PID</label><br/>
                    <select name="pid" class="form-select" required="required">
                        @{
                            foreach (string data in System.IO.File.ReadLines("Data/Buildings/buildings.csv").Skip(1))
                            {
                                string[] buildingData = data.Split('|');
                                <option>@buildingData[0]</option>
                            }
                        }
                    </select><br/>
                    <label for="buildingName">New Building Name</label><br>
                    <input class="input-group" name="buildingName" type="text"/><br/>
                    <label for="buildingAdress">New Building Adress</label>
                    <input class="input-group" name="buildingAdress" type="text"/><br/>
                    <input class="btn-primary" type="submit"/>
                </form>
            </div>
            <div class="control-panel-block">
                <h3>Remove building</h3>
                <hr/>
                <form asp-controller="Home" asp-action="DeleteBuilding" method="post">
                    <select name="buildingId" class="form-select" required="required">
                        @{
                            foreach (string data in System.IO.File.ReadLines("Data/Buildings/buildings.csv").Skip(1))
                            {
                                string[] buildingData = data.Split('|');
                                <option>@buildingData[0]</option>
                            }
                        }
                    </select>
                    <input class="btn-danger" type="submit">
                </form>
            </div>
            <div class="control-panel-block">
                <h3>Utilities</h3>
                <hr/>
                <a class="btn-danger" asp-action="DumpCsvData" onclick="">Dump CSV</a>
                <a class="btn-primary" asp-action="Schedule">chart-test</a>
            </div>
        </div>
        <div class="col-9">
            <h2>Buildings</h2>
            <hr/>
            <div class="row">
                @{
                    foreach (string data in System.IO.File.ReadLines("Data/Buildings/buildings.csv").Skip(1))
                    {
                        string[] buildingData = data.Split('|');
                        <div class="col-3 building-panel">
                            <div class="textContainer">
                                <h4>
                                    <span>@buildingData[1]</span>
                                </h4>
                                <h6>
                                    <span>@buildingData[2]</span>
                                </h6>
                                <p class="descriptive-id">PID: @buildingData[0]</p>
                                <hr/>
                                @Html.ActionLink("Building Scheme",
                                    "BuildingScheme",
                                    new { pid = buildingData[0] },
                                    new { @class = "btn-primary" })

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

</body>